:root {
  --light: rgb(188 217 197);
  --dark: darkred;
  --medium: rgb(147, 227, 236);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body .title-info {
  background-color: var(--dark);
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title-info h1 {
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 5px 0px 30px 10px;
  background-color: var(--light);
  padding: 10px;
  border: solid thick white;
  position: relative;
}

.same-page-links {
  display: flex;
  position: absolute;
  top: 170px;
  right: 5px;
}

.title-info ul li a {
  list-style: none;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  background-color: var(--light);
  flex-wrap: wrap;
  padding: 6px;
  margin: 12px;
  text-decoration: underline white;
}

.same-page-links li :hover,
#work .work-links div a:hover,
#contact ul .working-link:hover {
  background-color: var(--medium);
  padding: 15px;
  font-size: 28px;
}

main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(223, 223, 223);
}

main section {
  margin: 25px;
}

main section h1 {
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--dark);
  margin: 0px 20px 0px 0px;
  padding: 10px 10px 0px 10px;
  border-right: solid var(--dark);
}

#about-me {
  display: flex;
}

#about-me p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.5;
}
#about-me img {
  width: 400px;
  height: 300px;
  margin-right: 20px;
}

#work {
  display: flex;
}
#work .work-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

#work .work-links .sample-main {
  position: relative;
}

#work .work-links .sample-main img {
  margin: 0px 20px 10px;
  border: solid thick var(--dark);
  width: 640px;
  height: 250px;
  object-fit: cover;
}

#work .work-links .sample-main a {
  position: absolute;
  bottom: 40px;
  left: 30px;
  background-color: var(--light);
  padding: 5px;
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#work .work-links .sample-secondary {
  position: relative;
}

#work .work-links .sample-secondary img {
  margin: 20px 20px 0px;
  border: solid thick var(--dark);
  width: 300px;
  height: 200px;
  object-fit: cover;
}

#work .work-links .sample-secondary a {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background-color: var(--light);
  padding: 5px;
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#contact {
  display: flex;
}
#contact ul {
  padding-left: 30px;
}
#contact ul li {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
  display: inline-block;
  background-color: var(--light);
  padding: 5px;
  font-weight: 550;
}

#contact ul li a {
  color: black;
}

@media screen and (max-width: 768px) {
  main,
  section,
  h1 {
    font-size: 8px;
  }
}
@media screen and (max-width: 320px) {
  main,
  section,
  h1 {
    font-size: 2px;
  }
}
